body {
    background-color: #191C1D;
}

.navbar {
    background-color: transparent!important;
}

.nav-item {
    margin: 10px;
}

.nav-link {
    color: #fafafa;
}

a:hover {
    color: #167c80!important;
}

a:focus { 
    color:#167c80!important;
}

.card {
    width: 500px;
    background-color: #444749;
    color: #fafafa;
    border: none;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons a {
    display: inline-block;
    height: 3.5rem;
    width: 2rem;
    color: #fafafa!important;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-top: -5rem;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    border-radius: 10%;
}

.icons a:hover {
    background-color: #167c80;
}