body {
    background-color: #191C1D;
}

.navbar {
    background-color: #167c80!important;
}

.nav-item {
    margin: 10px;
}

.nav-link {
    color: #fafafa;
}

.card {
    width: 500px;
    background-color: #444749;
    color: #fafafa;
    border: none;
}