@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  min-height: 70vh;
  font-family: Inter, sans-serif;
  color: #F1F1F1;
  background: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  margin-top:120px;
}